#mobile {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #000000;
}

#menu-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("https://i.imgur.com/G7PFD7R.jpg");
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 100;
}
#main-menu {
  width: 60vw;
  height: 80vh;
  border-style: solid;
  border-radius: 1.125em;
  border-color: #b88a00;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.75);
  transition: all 0.25s;
}
.h1 {
  margin: 0 auto;
  font-family: "Fredericka the Great", cursive;
  color: #eeeeee;
  font-weight: normal;
}
#menu-contents{
  display: none;
}
.main-button {
  border-style: none;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #b88a00;
  width: 60vw;
  margin-top: 2em;
  padding: 2em 0;
  background: none;
  color: #eeeeee;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transition: all 0.25s;
  cursor: pointer;
}
.main-button:hover,
.main-button-hovered {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.1));
}
.social-media {
  position: absolute;
  width: 60vw;
  margin: 0 auto;
  bottom: 1em;
}
.social-image {
  transition: all 0.25s;
  margin: 0 auto;
  width: 5vw;
  max-width: 3.5em;
  display: inline-block;
  cursor: pointer;
}
